stores/MGN_NivelManzana_Integrado_CNPV/MGN_ANM_MANZANA.dbf
stores/MGN_NivelManzana_Integrado_CNPV/MGN_ANM_MANZANA.shp
/stores/MGN_NivelSectorUrbano_Integrado_CNPV
/stores/MGN_NivelZonaurbana_Integrado_CNPV
